* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}

:root {
  --principal-color: #f5b400;
  --secundary-color: #3FABB2;
  --text-primary-color: #3FABB2;
  --text-secondary-color: #7E5938;
  --soft-gray: #FDFDFD;
  --text-large: 20px;
  --text-medium: 16px;
  --text-small: 12px;
  --text-minim: 10px; 
}

.category_menu{
  background-color: var(--soft-gray);
  width: 200px;
  padding: 24px;
  box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.2);

}

.category_menu ul li {
  list-style: none;
  text-align: start;
  font-size: var(--text-medium);
  line-height: calc(var(--text-medium) + 6px);
  
}



