* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --principal-color: #f5b400;
  --secundary-color: #3FABB2;
  --text-primary-color: #3FABB2;
  --text-secondary-color: #7E5938;
  --soft-gray: #FDFDFD;
  --text-large: 44px;
  --text-medium: 18px;
  --text-small: 14px;
  --text-minim: 12px; 
}


.form_container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secundary-color);
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: auto;
  max-height: 800px;
  background-color: var(--soft-gray);  
  border-radius: 8px;
  margin: 20px;
  box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.2);
}

.form_title {
  margin-bottom: 40px;
  padding: 18px;
}

.form_input{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 24px;

}

label {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
  text-align: left;
  color: black;
}

input {
  height: 32px;
  border-radius: 6px;
  border: none;
  padding: 8px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.button {
  padding: 6px;
  font-size: var(--text-medium);
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 150px;
  background-color: var(--secundary-color);
  border: 1px white;
  border-radius: 6px;
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.2);
  font-weight: 500;
}

.index_button {
  
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
  width: auto;
  height: 40px;
  font-size: var(--text-small);
  background-color: var(--soft-gray);
  margin: auto;  
  align-items: center;
}

.index_button a {
  margin: auto;
  text-decoration: none;
  color: black;
}


.register {
  font-size: var(--text-small);
  color: var(--text-secondary-color);
  margin-bottom: 20px;
}

a {
  font-size: var(--text-small);
  color: var(--text-secondary-color);
}



.button:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: all .3s;
}

.navbar {
  background-color: var(--principal-color);
  width: 100%;
  max-width: 1400px;
  display: flex;
  margin: 0 auto ;
  position: relative;
  align-items: center;
  height: 40px;
  
}

.logo {
  width: 40px;
  height: 100%;
  margin: 4px;
  background-color: var(--principal-color);
  border-radius: 100%;
  margin-right: 80px;
}

.category_menu{
 

}

.category_menu ul {
  display: flex;
  gap: 12px;
}

.category_menu ul li {
  list-style: none;
  text-align: start;
  font-size: var(--text-small);
  line-height: calc(var(--text-medium) + 6px);
  
}



.secondary_menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  margin: 12px;
  gap: 12px;
}

.shop_car {
  width: 25px;
  height: 25px;
  
}

.categories {
  width: 100%;
  max-width: 1400px;
  height: 300px;
  display: flex;
  margin: 0px auto;
  padding: 18px 0; 
  justify-content: space-between;
  align-items: center; 
  background: var(--soft-gray);
  
}

.category_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.dog_button {
  border-radius: 10px 150px 150px 10px;
}

.cat_button {
  border-radius: 150px 10px 10px 150px;
}

.img_button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}

.products_container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--principal-color);
}

.article_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 50px;
}

.product_title{
  margin: 28px;
  color: var(--text-primary-color);
  font-family: 'Chewy', cursive;
  font-size: var(--text-large);
}


.card_container {
  width: 250px;
  height: 300px;
  margin: 0 32px 32px 32px;
  background-color: var(--soft-gray);
  border-radius: 8px;
  box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.2);
}

.img_container {
  height: 60%;
  width: auto;
}

.product_image {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  object-position: center;
}

.info_container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product_price {
  color: var(--text-primary-color);
  font-family: 'Chewy', cursive;
}

.product_category {
  margin-top: 8px;
  
}

.footer {
  width: 100%;
  position: fixed;    
  display: flex;
  height: 50px; 
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--soft-gray); 
}

.text_footer {
  font-family: 'Chewy', cursive;
  color: var(--principal-color);
}

.car_container {
  display: flex;
  flex-direction: column;  
  align-items: center; 
  width: 100%;
  max-width: 1400px;
  height: 100vh;
 
  margin: 0 auto;
  gap: 28px;
}

.title_products {
  margin: 20px;
  color: var(--text-primary-color);
  font-family: 'Chewy', cursive;
  letter-spacing: 1.5px;
  font-size: 40px;
}

.card_carshop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
  height: 100px;
  background-color: var(--soft-gray);
  margin: 0 auto;
  gap: 20px;
}

.product_image__car {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  border-radius: 6px;
}

.image_container__car{
  width: 100px;
  display: flex;
  place-self: center;
}

.product_info__car {
  width: 60%;
  height: auto;
  justify-content: left;
  
}

.title_product__car{
  text-align: start;
  margin: 12px 0 28px 0;

}

.product_cant__car {
  display: flex;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.minus_cant_product, .pluss_cant_product, .cant_product{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background-color: var(--principal-color);
  

} 

.minus_cant_product > p, .pluss_cant_product > p, .cant_product > p {
  font-weight: 500;
}



.cant_product{
  width: 50px;
}

.price_container__car{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  align-items: center;
  height: 100%;
  width: 20%;
}

.price__car{
  font-size: var(--text-medium);
  font-weight: 500;
}

.product_menu__car{
  display: flex;
  justify-content: start;
  gap: 20px;
  
}

li {
  padding: 0;
  display: inline-block;
  list-style-type: none;

}

.buy_button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}